<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RMM</title>
</head>
<body>
<div id="title">Room meeting manager</div>
<div id="menu"><h1 id="menu_name">Menu:</h1>
    <a href="/room">All meetings rooms</a>
    <a href="/room/new">Add new meeting room</a>
</div>
<div id="form">
    <form method="POST">
        {% csrf_token %}
        <label>
            Comment:
            <input type="text" name="comment" MULTIPLE>
        </label>
        <label>
            Reservation date:
            <input type="date" name="date" value="{{placement.date|date:"Y-m-d" }}">
        </label>
        <input type="submit">
    </form>
</div>
<div id="reservation_list">
    <ul>
        {% for reservation in reservations %}
            <li>{{ reservation.date }} <= {{ reservation.comment }}</li>
        {% endfor %}
    </ul>
</div>
<div id="footer">Created by xMag</div>
</body>
</html>