<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RMM</title>
</head>
<body>
<div id="title">Room meeting manager</div>
<div id="menu"><h1 id="menu_name">Menu:</h1>
    <a href="/room">All meetings rooms</a>
    <a href="/room/new">Add new meeting room</a>
</div>
<div id="room_view">
    <p>Room name: {{ room.name }}</p>
    <p>Seats: {{ room.seats }}</p>
    <p>{% if room.projector %} It has projector {% else %} It doesn't have projector {% endif %} </p>
</div>
<div id="reservation_list">
    <ul>
        {% for reservation in reservations %}
            <li>{{ reservation.date }} <= {{ reservation.comment }}</li>
        {% endfor %}
    </ul>
</div>
<div>
    <a href="/room/modify/{{ room.id }}">Edit meeting room</a>
    <a href="/room/delete/{{ room.id }}">Delete meeting room</a>
    <a href="/room/reserve/{{ room.id }}">Reserve meeting room</a>
</div>
<div id="footer">Created by xMag</div>
</body>
</html>