<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RMM</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&family=Dela+Gothic+One&family=Roboto+Mono:ital,wght@1,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div class="title"><h1>Room meeting manager</h1></div>
<div class="menu"><h2 class="menu_name">Menu:</h2>
    <a href="/room">All meetings rooms</a>
    <a href="/room/new">Add new meeting room</a>
</div>
<div class="form">
    <form method="POST">
        {% csrf_token %}
        <label>
            Meeting room name:
            <input type="text" name="name" value="{{ name_value }}">
        </label>
        <label>
            Meeting room name:
            <input type="number" name="seats" value="{{ seat_value }}">
        </label>
        <label>
            Meeting room name:
            <input type="checkbox" name="projector" {% if checked_projector %} checked {% endif %}>
        </label>
        <input type="submit">
    </form>
    {% if information %}
        <p>{{ information }}</p>
    {% endif %}
</div>
<div class="footer">Created by xMag</div>
</body>
</html>