<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RMM</title>
</head>
<body>
<div id="title"><h1>Room meeting manager</h1></div>
<div id="menu"><h2 id="menu_name">Menu:</h2>
    <a href="/room">All meetings rooms</a>
    <a href="/room/new">Add new meeting room</a>
</div>
<div id="form">
    <form method="POST">
        {% csrf_token %}
        <label>
            Meeting room name:
            <input type="text" name="name" value="{{ name_value }}">
        </label>
        <label>
            Meeting room name:
            <input type="number" name="seats" value="{{ seat_value }}">
        </label>
        <label>
            Meeting room name:
            <input type="checkbox" name="projector" {% if checked_projector %} checked {% endif %}>
        </label>
        <input type="submit">
    </form>
    {% if information %}
        <p>{{ information }}</p>
    {% endif %}
</div>
<div id="footer">Created by xMag</div>
</body>
</html>